<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="    https://preview.redd.it/buzyn25jzr761.png?width=1000&format=png&auto=webp&s=c8a55973b52a27e003269914ed1a883849ce4bdc"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Valorant - Contact</title>
    <link rel='stylesheet' href='../static/styles.css'>

</head>
<body>
    <header>

        <div >
            <div id="branding">
                <img style='padding-left: 20px;' src='https://preview.redd.it/buzyn25jzr761.png?width=1000&format=png&auto=webp&s=c8a55973b52a27e003269914ed1a883849ce4bdc' width=50 length=50>
                <h1 style='float:right; padding-left: 20px;'>Valorant <span class="highlight">Leaderboard</span></h1>
            </div>
            <nav>
                <ul>
                    <li ><a href="/">HOME</a></li>
                    <li class='current'><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div class='showcase'>
        <h1>Valorant Leaderboards</h1>
        <p>An accurate leaderboard showcase of the top Valorant Ranked players</p>
    </div>

    <div class='success-message'>
        <br>
        <h1 style='font-size: smaller; color: #5cb85c;'><b>{{success_message}}</b></h1>
    </div>

    <div style='    margin-left: 600px;margin-right: 600px;'>
             <h1 class="page-title" style='text-align: center; font-size: 35px;'>Contact</h1>
             <form action='/contact' method='POST'>
                 <label for="fname">First and Last Name</label>
                 <input type="text" id="name" name="name" placeholder="Your name..">

                 <label for="lname">Email Address</label>
                 <input type="email" id="email" name="email" placeholder="Your email..">

                 <label for="subject">Message</label>
                 <textarea id="message" name="message" placeholder="Write your message.." style="height:200px; font-family: 'Open Sans', sans-serif;"></textarea>
             
                 <input type="submit" value="Submit">
             </form>
     </div>
     <br>
     <br>
     <br>
     <br>
     <br>
</body>
</html> 