<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../static/styles.css'>
    <link rel="shortcut icon" type="image/jpg" href="    https://preview.redd.it/buzyn25jzr761.png?width=1000&format=png&auto=webp&s=c8a55973b52a27e003269914ed1a883849ce4bdc"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='../static/styles.css'>
    <meta name='description' content='Accurate Valorant Ranked Leaderboard'>
    <meta name='author' content='Nicholas Zhang'>
    <meta property="image" content="https://preview.redd.it/buzyn25jzr761.png?width=1000&format=png&auto=webp&s=c8a55973b52a27e003269914ed1a883849ce4bdc">


    <title>Valorant - Top Leaderboard Ranks</title>
</head>
<body>
    <header>

        <div>
            <div id="branding">
                <img style='padding-left: 20px;' src='https://preview.redd.it/buzyn25jzr761.png?width=1000&format=png&auto=webp&s=c8a55973b52a27e003269914ed1a883849ce4bdc' width=50 length=50>
                <h1 style='float:right; padding-left: 20px;'>Valorant <span class="highlight">Leaderboard</span></h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="/">HOME</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class='showcase'>
        <h1>Valorant Leaderboards</h1>
        <p>An accurate leaderboard showcase of the top Valorant Ranked players</p>
    </div>

    <div class='container' style="margin-left: 100px; text-align: center;">
        <br>
        <br>
        <form action="/" method='POST' style='margin-left: 20px; margin-right: 1500px;'>
            <label style='color: white; text-align: center;' for="topplayerschoose">Choose the top player range:</label>
            <select name="top" id="top">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="200">200</option>
            </select>
            <br>
            <br>
            <label style='color: white; text-align: center;' for="topplayerschoose">Choose the ACT leaderboard:</label>
            <select name="acts" id="acts">
                <option value="97b6e739-44cc-ffa7-49ad-398ba502ceb0">ACT 1</option>
                <option value="ab57ef51-4e59-da91-cc8d-51a5a2b9b8ff">ACT 2</option>
                <option value="52e9749a-429b-7060-99fe-4595426a0cf7">ACT 3 (Current)</option>
              </select>
            
            

            <input type="submit" value='Choose'>
          </form>
          
          <br>
          <br>
          <h1 style='position:relative; left:-150px;'>{{top}} {{act_num}} </h1>

          <table style='width: 80%;'>
            <tr>
              <th>Rank</th>
              <th>Name</th> 
              <th>Rating</th>
              <th>Wins</th>
            </tr>
    
    
        {% for player in players %}
    
        <tr>
            <td>{{player[0]}}</td>
            <td>{{player[1]}}</td>
            <td>{{player[2]}}</td>
            <td>{{player[3]}}</td>
          </tr>
    
    
        {% endfor %}
    
        </table>
    </div>


    <br>
    <br>
    <br>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html> 